body,
html,
h1 {
  margin: 0;
  padding: 0;
}
body {
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
}
div {
  overflow: hidden;
  box-sizing: border-box;
}
.outer-grid {
  position: relative;
  float: left;
  width: 33.3%;
  padding-bottom: 33.3%;
  margin: 0 33.3%;
}
.outer-square {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 60%;
  background: #ffffff;
  margin: 5%;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.inner-grid {
  width: 33.3%;
  height: 33.3%;
  display: table;
  border: 5px solid #ccc;
  border-radius: 5px;
}
.inner-square {
  line-height: 100%;
  font-size: 50px;
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#output,
h1,
#result {
  margin-top: 15px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 28px;
}

#refresh {
  text-align: center;
  position: absolute;
  left: 53%;
  right: 45%;
  width: 150px;
  cursor: pointer;
}

#again {
  text-align: center;
    position: relative;
    left: 37%;
    right: 80%;
    width: 150px;
    cursor: pointer;
}



button {
  outline: 0;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 1px 1px 5px 3px #333, 2px 2px 3px #ffc;
  border-radius: 5px;
  border: 5px solid #ccc;
}


.disable {
  pointer-events: none;
}

.color-box {
  
  background-color: #10634F;
  /* Initial background color */
  ;
  transition: background-color 0.5s ease;
  /* Transition effect */
}
